%pp-regular{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
%pp-medium{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
%pp-semibold{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
%pp-bold{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}