<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__block">
				<a class="logo-link" href="#">
					<img src="images/logo-bravaa.svg" alt="logo">
				</a>
				<p class="footer__text text">User experience iPhone backing focus responsive web design leverage analytics.</p>
				<div class="footer__soc">
					<a class="footer__soc-link" href="#">
						<img class="footer__img" src="images/facebook.svg" alt="Open facebook">
					</a>
					<a class="footer__soc-link" href="#">
						<img class="footer__img" src="images/twitter.svg" alt="Open twitter">
					</a>
					<a class="footer__soc-link" href="#">
						<img class="footer__img" src="images/instagram.svg" alt="Open instagram">
					</a>
				</div>
			</div>
			<ul class="footer__list">
				<li class="footer__list-item">
					<h3 class="footer__list-title">Services</h3>
					<a class="footer__list-link text" href="#">Flex Muscle</a>
					<a class="footer__list-link text" href="#">Physical Fitness</a>
					<a class="footer__list-link text" href="#">Fat Lose</a>
					<a class="footer__list-link text" href="#">Strength</a>
				</li>
				<li class="footer__list-item">
					<h3 class="footer__list-title">Pricing</h3>
					<a class="footer__list-link text" href="#">Basic Plan</a>
					<a class="footer__list-link text" href="#">Weakly Plan</a>
					<a class="footer__list-link text" href="#">Monthly Plan</a>
				</li>
				<li class="footer__list-item">
					<h3 class="footer__list-title">Company</h3>
					<a class="footer__list-link text" href="#">About Us</a>
					<a class="footer__list-link text" href="#">Careers</a>
					<a class="footer__list-link text" href="#">Customers</a>
					<a class="footer__list-link text" href="#">Partners</a>
				</li>
				<li class="footer__list-item">
					<h3 class="footer__list-title">Support</h3>
					<a class="footer__list-link text" href="#">FAQS</a>
					<a class="footer__list-link text" href="#">Contact Us</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
<script src="js/main.min.js"></script>
</body>
</html>