<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bravaa</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header__inner">
				<a class="logo-link" href="#">
					<img src="images/logo-bravaa.svg" alt="logo">
				</a>
				<div class="header__container">
					<nav class="menu">
						<ul class="menu__list">
							<li class="menu__list-item">
								<a class="menu__list-link" href="#">Home</a>
							</li>
							<li class="menu__list-item">
								<a class="menu__list-link" href="#">Program</a>
							</li>
							<li class="menu__list-item">
								<a class="menu__list-link" href="#">Community</a>
							</li>
							<li class="menu__list-item">
								<a class="menu__list-link" href="#">Pricing</a>
							</li>
						</ul>
					</nav>
					<div class="header__btn-wrapper"><button class="header__btn header__btn--secondary" type="button" aria-label="Log in">Log in</button></div>
					<button class="header__btn header__btn--main" type="button" aria-label="Sign up">Sign up</button>
				</div>
				<button class="header__burger" type="button" aria-label="Open menu">
					<span class="header__burger-item"></span>
				</button>
			</div>
		</div>
	</header>